body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.landing-container {
  background-image: url('../assets/getstartedBackground.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.get-started-btn {

  width: auto;            /* Prevents full width */
  align-self: center;     /* Centers in flex container */
  padding: 1em 2em;
  font-size: 1.2em;
  border: none;
  border-radius: 30px;
  background: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;  /* Optional: Ensures the button takes just its content size */


}

.get-started-btn:hover {
  background: #222;
}

@media (max-width: 600px) {
  .get-started-btn {
    padding: 14px 28px;
    font-size: 1rem;
  }
}