.tabs {
  display: flex;
  border-bottom: 1px solid #efefef;
  margin-bottom: 14px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  background: transparent;
  border: none;
  outline: none;
}

.tab.active {
  color: #0256d5;
  border-bottom: 2.5px solid #1270e3;
}