body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

}

.student-dashboard {
  text-align: center;
  padding: 50px;
}

h1 {
  color: #1d3557;
}

.info {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #1d3557;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}